doctype html
html(lang="en")
    head
        meta(charset="utf-8")

        title="Vanilla JavaScript Accordion"
        link(rel="stylesheet" href="vanilla-js-accordion.css")

    body
        
        div#accordion.js-Accordion
            button Toyota
            div
                | Toyota Motor Corporation is a Japanese automotive manufacturer headquartered in Toyota, Aichi, Japan. Toyota was the world's first automobile manufacturer to produce more than 10 million vehicles per year which it has done since 2012, when it also reported the production of its 200-millionth vehicle.

            button Honda
            div
                | Honda Motor Co. is a Japanese public multinational conglomerate corporation primarily known as a manufacturer of automobiles, aircraft, motorcycles, and power equipment. Honda has been the world's largest motorcycle manufacturer since 1959, as well as the world's largest manufacturer of internal combustion engines measured by volume, producing more than 14 million internal combustion engines each year.

            button Nissan
            div
                | Nissan Motor Company Ltd is a Japanese multinational automobile manufacturer headquartered in Nishi-ku, Yokohama. Since 1999, Nissan has been part of the Renault–Nissan Alliance, a partnership between Nissan and French automaker Renault. Nissan is the world's largest electric vehicle (EV) manufacturer, with global sales of more than 275,000 all-electric vehicles as of mid-December 2016


        script(src="vanilla-js-accordion.min.js")
        script.
            var accordion = new Accordion({
                element: "accordion",
                openTab: 1,
                oneOpen: true
            });